langsmith
langgraph
langgraph-cli
langchain_google_genai
langgraph-checkpoint-postgres
psycopg
psycopg-pool
psycopg-binary
tavily-python
langchain_community
python-dotenv
chainlit
langchain-core==0.3.21
pydantic==2.8.2
pydantic-settings==2.5.2
packaging==23.2